
.flexcontainer{
    display: flex;
    position: fixed;
    max-width: 1880px;
    max-height: 860px;
    overflow-x: hidden;
    overflow-y: hidden;

}


#main{
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(59, 164, 174);
}

.waterImage {
    position: relative;
    opacity: 1;
    bottom: 150px;
}

.character  {
    position: absolute;
    bottom:110px;
    left: 150px;
}


.rightside{
    display: table;
    height: 1100px;
    width: 150%;
    text-align: center;
    background-color: rgb(33, 45, 61);
    overflow-x: hidden;
    overflow-y: scroll;
}

.uppgradegrid{
    display: grid;
    
}

.gridItem{
    grid-column:span;
    grid-row: span;
}

.uppgradebtn{
    align-self: center;
    width: 70%;
    margin-top: 25px;
    height: 55px;
}









